.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid color-mix(in oklch, var(--foreground) 20%, transparent);
  width: 100%;
}

.heading {
  font-family: var(--font-spartan);
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1rem;
  letter-spacing: 0.0455rem;
  text-transform: uppercase;
  color: color-mix(in oklch, var(--foreground) 50%, transparent);
}

.text {
  font-family: var(--font-antonio);
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.0469rem;
  text-transform: uppercase;
}

@media (width >= 768px) {
  .article {
    padding: 20px;
    flex-direction: column;
    align-items: start;
    max-width: 164px;
  }

  .text {
    font-size: 1.5rem;
    line-height: 1.9375rem;
    letter-spacing: -0.0563rem;
  }
}

@media (width >= 1440px) {
  .article {
    max-width: 255px;
  }

  .heading {
    font-size: 0.6875rem;
    line-height: 1.5625rem;
    letter-spacing: 0.0625rem;
  }

  .text {
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.0938rem;
  }
}
