.article {
  min-width: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid color-mix(in oklch, var(--foreground) 20%, transparent);
}

.heading {
  font-family: var(--font-spartan);
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1rem;
  letter-spacing: 0.0455rem;
  text-transform: uppercase;
  color: color-mix(in oklch, var(--foreground) 50%, transparent);
}

.text {
  font-family: var(--font-antonio);
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.0469rem;
  text-transform: uppercase;
}
