.main {
  display: grid;
  grid-template-areas:
    "tabs"
    "image"
    "information"
    "stats";
  grid-template-rows: min-content 1fr minmax(0, 327px) minmax(0, 327px);
  grid-template-columns: 1fr;
  gap: 20px;
  padding: var(--main-padding-t) var(--main-padding-x) var(--main-padding-b)
    var(--main-padding-x);
}

.tabs {
  display: flex;
  margin: 0 calc(var(--main-padding-x) * -1);
  justify-content: space-around;
  border-bottom: 1px solid
    color-mix(in oklch, var(--foreground) 20%, transparent);
  grid-area: tabs;
  counter-reset: tabs;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  grid-area: image;
}

.surfaceImage {
  position: absolute;
  width: 100px;
  translate: -50% 50%;
  left: 50%;
  bottom: 0;
}

.information {
  grid-area: information;
  margin-top: 100px;
}

.heading {
  font-family: var(--font-antonio);
  font-size: 2.5rem;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-family: var(--font-spartan);
  font-size: 0.6875rem;
  line-height: 1.375rem;
  text-align: center;
  margin-top: 15px;
}

.source {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-family: var(--font-spartan);
  font-size: 0.75rem;
  line-height: 1.5625rem;
  color: color-mix(in oklch, var(--foreground) 50%, transparent);
}

.link {
  outline: none;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.link[data-focus-visible] {
  outline: 2px solid var(--primary-color);
  outline-offset: 4px;
}

.stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (width >= 768px) {
  .main {
    grid-template-areas:
      "image image"
      "information tabs"
      "stats stats";
    grid-template-rows: 1fr minmax(0, 339px) minmax(0, 88px);
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
  .stats {
    flex-direction: row;
    justify-content: space-between;
  }

  .tabs {
    border: none;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    gap: 16px;
  }

  .surfaceImage {
    bottom: 10%;
  }

  .information {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .heading {
    font-size: 3rem;
    line-height: 3.875rem;
  }

  .text {
    text-align: start;
    margin-top: 30px;
    font-size: 0.6875rem;
    line-height: 1.375rem;
    max-width: 340px;
  }

  .source {
    margin-top: 40px;
    font-size: 0.75rem;
    line-height: 1.5625rem;
  }
}

@media (width >= 1440px) {
  .main {
    grid-template-areas:
      "image information"
      "image tabs"
      "stats stats";
    grid-template-rows: 1fr 1fr minmax(0, 128px);
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .imageContainer {
    margin: 0;
  }

  .surfaceImage {
    width: 163px;
    bottom: 20%;
  }

  .information {
    align-self: flex-end;
  }

  .tabs {
    align-self: flex-start;
  }

  .heading {
    font-size: 5rem;
    line-height: 6.5rem;
  }

  .text {
    font-size: 0.875rem;
    line-height: 1.5625rem;
    max-width: 350px;
  }

  .source {
    font-size: 0.875rem;
    line-height: 1.5625rem;
    margin-top: 20px;
  }
}
