:root {
  --background: oklch(0.15 0.06 277.88);
  --foreground: oklch(1 0 0);
  --primary-color: oklch(0.5 0.23 293.41); /* Default (Earth) */
  --neutral: oklch(0.61 0.02 285.77);
  --hover: oklch(0.35 0.04 284.16);

  --mercury-color: oklch(0.66 0.1 221.86);
  --venus-color: oklch(0.77 0.14 67.7);
  --earth-color: oklch(0.5 0.23 293.41);
  --mars-color: oklch(0.59 0.17 33.03);
  --jupiter-color: oklch(0.59 0.2 27.32);
  --saturn-color: oklch(0.59 0.17 39.74);
  --uranus-color: oklch(0.73 0.13 175.76);
  --neptune-color: oklch(0.56 0.21 263.38);

  --main-padding-x: 24px;
  --main-padding-t: 0px;
  --main-padding-b: 40px;
  --navbar-height: 68px;
}

[data-theme="mercury"] {
  --primary-color: var(--mercury-color);
}

[data-theme="venus"] {
  --primary-color: var(--venus-color);
}

[data-theme="earth"] {
  --primary-color: var(--earth-color);
}

[data-theme="mars"] {
  --primary-color: var(--mars-color);
}

[data-theme="jupiter"] {
  --primary-color: var(--jupiter-color);
}

[data-theme="saturn"] {
  --primary-color: var(--saturn-color);
}

[data-theme="uranus"] {
  --primary-color: var(--uranus-color);
}

[data-theme="neptune"] {
  --primary-color: var(--neptune-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background) url("/assets/background-stars.svg") no-repeat
    50% 10%;
  font-family: var(--font-spartan);
  font-size: 0.875rem;
  line-height: 1.5625rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

@media (width >= 768px) {
  :root {
    --navbar-height: 159px;
    --main-padding-x: 40px;
    --main-padding-t: 32px;
    --main-padding-b: 32px;
  }
}

@media (width >= 1440px) {
  :root {
    --navbar-height: 85px;
    --main-padding-x: 36px;
    --main-padding-t: 50px;
    --main-padding-b: 50px;
  }
}
