/* left: 32px;
top: 22px; */

.header {
  padding: 1.375rem 2rem;
  border-bottom: 1px solid
    color-mix(in oklch, var(--foreground) 20%, transparent);
}

.logo {
  font-family: var(--font-antonio);
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.0656rem;
  text-transform: uppercase;
}
