.navbar {
  padding: 0 16px 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid
    color-mix(in oklch, var(--foreground) 20%, transparent);
}

.logo {
  font-family: var(--font-antonio);
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.0656rem;
  text-transform: uppercase;
}

.list {
  display: flex;
  align-items: center;
}

.listItem {
  display: flex;
}
