.app {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr;
}

.navbar {
  padding: 0 var(--main-padding-x);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid
    color-mix(in oklch, var(--foreground) 20%, transparent);
}

.logo {
  font-family: var(--font-antonio);
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.0656rem;
  text-transform: uppercase;
}

.list {
  display: none;
  height: 100%;
}

.listItem {
  height: 100%;
}

@media (width >= 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .list {
    display: flex;
    align-items: center;
    height: auto;
  }

  .listItem {
    height: auto;
  }
}

@media (width >= 1440px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .list {
    height: 100%;
  }

  .listItem {
    height: 100%;
  }
}
