.link {
  outline: none;
  user-select: none;
  color: color-mix(in oklch, var(--foreground) 75%, transparent);
}

.link[data-focus-visible] {
  outline: 2px solid var(--primary-color);
  outline-offset: -8px;
}

.link[data-hovered] {
  color: var(--foreground);
}

.link[href="/mercury"] {
  --line-color: var(--mercury-color);
}

.link[href="/venus"] {
  --line-color: var(--venus-color);
}

.link[href="/earth"] {
  --line-color: var(--earth-color);
}

.link[href="/mars"] {
  --line-color: var(--mars-color);
}

.link[href="/jupiter"] {
  --line-color: var(--jupiter-color);
}

.link[href="/saturn"] {
  --line-color: var(--saturn-color);
}

.link[href="/uranus"] {
  --line-color: var(--uranus-color);
}

.link[href="/neptune"] {
  --line-color: var(--neptune-color);
}

.default {
  position: relative;
  font-family: var(--font-spartan);
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding: 22px 16px;
}

.hoverLine {
  position: absolute;
  height: 4px;
  bottom: 0;
  width: calc(100% - 32px);
  background: var(--line-color);
}

@media (width >= 1440px) {
  .hoverLine {
    top: 0;
  }
}
