.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 200ms ease-in;
  padding: 8px;
}

.modal {
  position: fixed;
  top: var(--navbar-height);
  background: var(--background);
  outline: none;
  position: fixed;
  width: 100dvw;
  height: calc(100dvh - var(--navbar-height));
}

.dialog {
  outline: none;
  height: 100%;
  display: grid;
  padding: 40px var(--main-padding-x);
}

@media (width >= 768px) {
  .button {
    display: none;
  }
}
